

.button-docs {
    background: var(--green);
    color: black;
    border-width: 0;
    border-radius: 3px;
    padding: 0.8rem 2rem;
    /* font: 18px "Margarine", sans-serif; */
    /* font-family: 'Iceland', cursive; */
    font-size: 1.1rem;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: all 0.4s ease-in-out;
    letter-spacing: 2px;
    display: inline-block;
    text-decoration: none;
    /* border: white solid 1px; */
    /* width: 33.33vw; */
    text-transform: uppercase;
    /* font-family: "Lato", sans-serif; */

}

.button-docs:hover{
    background-color: azure;
    color: black;
    
        /* animation: rainbow 3s infinite, heartbeat 0.6s infinite; */
}
.button-docs .rainbow {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -40px;
    transition: 0.5s ease;
    opacity: 0;
    transform: rotate(0);
}

@keyframes heartbeat {
    50% {
        /* transform: scale(1.1); */
    }
}

@keyframes rainbow {
    0% {
        background: #1abc9c;
    }
    10% {
        background: #2ecc71;
    }
    20% {
        background: #3498db;
    }
    30% {
        background: #9b59b6;
    }
    40% {
        background: #e74c3c;
    }
    50% {
        background: #e67e22;
    }
    60% {
        background: #f1c40f;
    }
    70% {
        background: #2c3e50;
    }
    80% {
        background: #9b59b6;
    }
}


@media(max-width: 900px){
    .button-docs{
        width: 100%;
    }
}
