.cursor {
  top: 55%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;

  width: 600px;
  height: 600px;
  border: 2px solid white;
  border-radius: 50%;
  /* position absolute becuse through js we will modify the top and bottom 
  position of this, the reference point obvioulsy will be viewport */
 
  /* translate (-50%, -50%) will mouse "stay" inside a .cursor */
  
  /* transform-origin: 100% 100%;
  transition-property: background, transform;
  z-index: 0;
  background: transparent;
  backdrop-filter: grayscale();
 backdrop-filter: invert(100%); */
 transition-property: background, transform;
  background: transparent;
 transition: all .4s linear;
  z-index: 190;
}
  
.cursor-grow{
/* transform: scale(1.4);
  transform: translate(-50%, -50%); */
 
  backdrop-filter: grayscale();
 backdrop-filter: invert(100%); 
  width: 580px;
  height: 580px;
}
.cursor-grow--white{
  /* transform: scale(1.4);
    transform: translate(-50%, -50%); */
    width: 380px;
    height: 380px;
    border: 4px solid white;

}  
.none{
  display: none;
}
.block{
  display: block;
}


@media(max-width:1200px){
      .cursor{
          display: none;
      }
  }