/* * {
  
  font-family: 'Iceland', cursive; 
  font-family: 'Share Tech Mono', monospace; 
  font-family: 'Figtree', sans-serif;
  
} */
* {
  box-sizing: border-box;
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-family: 'Figtree', sans-serif;
  color: white;
}
:root {
  --green: #a3aca7;
}

/* desktop nav: */

#myMenu {
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: left;
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
#myMenu li {
  padding: 0.7rem 2rem;
  cursor: pointer;
  margin-right: 2px;
  width: 33.333vw;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.5);
}
li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  /* font-family: "Lato", sans-serif; */
  font-size: 1.2rem;
}

#myMenu li a i {
  margin-right: 5px;
  transform: scale(0.9);
}

#myMenu li:hover {
  background-color: white;
}

#myMenu li:hover a {
  color: black;
}
#myMenu li:hover a i {
  color: black;
}

#myMenu .active a {
  color: black;
}
#myMenu .active a i {
  color: black;
}
#myMenu .active {
  background-color: white;
}

/* sections: */

.section .fp-auto-height {
  /* background-size: cover; */
  /* min-height: 100vh; */
  /* padding: 1rem; */
}

.section__content {
  /* margin-top: 5rem; */
  /* max-width: 1400px; */
  /* width: 80vw; */
  /* min-height: 100vh; */
}

.fp-is-overflow .fp-overflow.fp-auto-height,
.fp-is-overflow .fp-overflow.fp-auto-height-responsive,
.fp-is-overflow > .fp-overflow {
  /* overflow-y: hidden; */
}

/* .fp-table {
  justify-content: center;
  align-items: center;
} */
/* section s1 - home page: */
.s1 {
  /* background: url("../imgs/wall.jpg"); */
  /* background-size: cover;
  background-position: center;
  position: relative; */
}

.s1 h1 {
  /* font-size: 4rem;
  margin-bottom: 0;
  padding-bottom: 0;
  text-transform: uppercase; */
}
.s1 h2 {
  /* font-size: 1.5rem;
  margin-top: 0.3rem;
  font-weight: 100; */
  /* font-style: italic; */
}
/* .s1__button {
  margin-top: 3rem;
  text-align: center;
} */

/* section s2 - portfolio: */
.s2 {
  background: url('../imgs/road3.jpg');
  background-size: cover;
  background-position: bottom;
}
.slide .section__content {
  /* display: flex; */
  /* max-width: 82vw; */
  /* width: 82vw; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
}
.slide__image {
  /* flex-basis: 58.3333%;
  flex-grow: 0;
  max-width: 58.3333%;
  overflow: hidden; */
}
.slide__image img {
  /* width: 100%;
  height: auto; */
}
.slide__text {
  /* flex-basis: 41.6667%;
  flex-grow: 0;
  max-width: 41.6667%;
  display: flex;
  align-items: center;
  padding-bottom: 0;
  overflow: visible;
  position: relative; */
}
.slide__text--content {
  /* padding: 1.5rem;
  width: 120%;
  background-color: rgb(0, 0, 0, 0.7);
  position: absolute;
  right: 0;
  z-index: 10;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px,
    rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px; */
}
.slide__text--content h2 {
  /* font-size: 1.7rem;
  padding: 0;
  margin: 0;
  color: var(--green); */
}
.slide__text--content h4 {
  /* font-size: 1.1rem;
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
  text-align: justify;
  font-weight: 300; */
}
.slide__text--content h4 a {
  /* text-decoration: none; */
}
.slide__text--content h6 {
  /* font-size: 0.8rem;
  text-align: right;
  margin-top: 0.7rem;
  margin-bottom: .7rem; */
}
.ss0 {
  background-color: rgb(30, 30, 40);
}

.ss1 {
}

.ss2 {
  background-color: rgb(30, 30, 40);
}
.ss3 {
}
.ss4 {
  background-color: rgb(30, 30, 40);
}
.ss5 {
}
.ss6 {
  background-color: rgb(30, 30, 40);
}
.ss7 {
}

/* section s3 - contact: */
.s3 {
  background: url('../imgs/.jpg');
  background-size: cover;
}

.s3 .section__content {
  /* display: flex;
  flex-wrap: wrap; */
}
.contact {
  /* flex: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem; */
}
.social {
  /* flex: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 1rem; */
  /* padding-bottom: 5rem; */
}
.social__image {
  /* width: 284px;
  height: 186px;
  overflow: hidden;
  border-radius: 5px; */
}

.social__image img {
  /* width: 100%;
  height: 100%;
  transition: all 1s linear; */
}
.social__image img:hover {
  /* transform: scale(7.5); */
}

.s3 h1 {
  /* text-align: center; */
}
.s3 h3 {
  /* text-align: center; */
  /* margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 400; */
}
.s3 h2 {
  /* font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: .5rem; */
}
.s3 ul {
  /* float: left; */
  /* padding-left: 0; */
}
.contact h2 i {
  /* transform: scale(1.2);
  margin-right: 1rem;
  color: var(--green); */
}
.contact h2 i:hover {
  /* color: white;
  transform: scale(1.8); */
}
.s3 .button-docs {
  /* pointer-events: none; */
  /* text-align: center;
  margin-bottom: 2rem; */
}
footer {
  /* border-top: var(--green) 1px solid; */
  /* padding: 0.5rem;
  text-align: center; */
  /* width: 100vw; */
}
.form__display {
  /* display: block;
  color: white;
  width: 100%;
  /* text-align: center; */
  /* padding: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 5px;
  font-size: 1.2rem; */
  /* font-style: italic;
  border-radius: 5px; */
  /* margin-bottom: 0.3rem; */
  /* background-color: transparent; */
}


/* horizontal nav: */
.fp-arrow.fp-controlArrow.fp-prev {
  left: 2rem;
  border-width: 38.5px 34px 38.5px 0;
  bottom: 3%;
}
.fp-arrow.fp-controlArrow.fp-next {
  right: 4rem;
}

/* color of navigation dots: */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: white;
}

/* dots at the bottom in portfolio page: */
.fp-slidesNav.fp-bottom {
  text-align: center;
}

.white-mode {
  position: absolute;
  top: 4rem;
  right: 1rem;
  cursor: pointer;
}
.white {
  color: black;
  background-color: rgb(75, 88, 96);
}

@media (max-width: 1200px) {
  .white-mode {
    /* position: absolute;
    top: 2rem;
    right: 4rem;
    cursor: pointer; */
  }

  #myMenu {
    display: none;
  }
  .social__image {
    /* display: none; */
  }
  .s1 h1 {
    /* font-size: 3.5rem; */
  }

  .slide__text {
    /* flex: 1;
    max-width: 100%;
    background-color: rgb(0, 0, 0, 0.7); */
  }
  .slide__image {
    /* display: none;
    margin: 1rem; */
  }
  .slide__text--content {
    /* background-color: transparent;
    position: static; */
  }
  .section__content h6 {
    /* text-align: center; */
  }
  .fp-arrow.fp-controlArrow.fp-next {
    right: 4rem;
    display: none;
  }
  .fp-arrow.fp-controlArrow.fp-prev {
    display: none;
  }
}
