* {
  /* box-sizing: border-box;
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0; */

  /* font-family: 'Figtree', sans-serif; */
  /* font-family: 'Iceland', cursive; 
  font-family: 'Share Tech Mono', monospace;  */
  color: white;
}
body {
  /* background: rgb(30, 30, 40); */
}
:root {
  --green: #a3aca7;
}

/* TOGGLE BUTTON - DARK/LIGHT MODE: */

/* GENERAL STYLING - CURSOR EFFECT AS A RING FOLLOWING THE MOUSE CURSOR: */


/* DESKTOP NAV: */
#myMenu {
  /* position: fixed;
  z-index: 5;
  display: flex;
  justify-content: left;
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  margin: 0; */
}

#myMenu li a {
  display: inline-block;
  padding: 0.7rem 2rem;
  cursor: pointer;
  margin-right: 1px;
  width: 33.333vw;
  text-align: center;
  background-color: rgb(107, 112, 109, 0.5);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  /* font-family: "Lato", sans-serif; */
  font-size: 1.2rem;
}

#myMenu li a i {
  margin-right: 5px;
  transform: scale(0.9);
}

#myMenu li:hover a {
  color: black;
  background-color: white;
}
#myMenu li:hover a i {
  color: black;
}

#myMenu .active a {
  color: black;
}
#myMenu .active a i {
  color: black;
}
#myMenu .active a {
  background-color: white;
}




/* SECTION 2 (PROJECTS), BACKGROUNDS FOR EVERY OTHER SLIDE: */

/* .s2 {
  background: url('../imgs/road3.jpg');
  background-size: cover;
  background-position: bottom;
  background-color: rgb(0, 0, 0, 0.5);
}

.ss0 {
  background-color: rgb(30, 30, 40);
}

.ss2 {
  background-color: rgb(30, 30, 40);
}

.ss4 {
  background-color: rgb(30, 30, 40);
}

.ss6 {
  background-color: rgb(30, 30, 40);
}
.ss8 {
  background-color: rgb(30, 30, 40);
} */









