@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL STYLING - CURSOR EFFECT AS A RING FOLLOWING THE MOUSE CURSOR: */

.cursor {
  top: 55%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  transition-property: background, transform;
  background: transparent;
  transition: all 0.8s linear;
  z-index: 190;
}
.cursor-grow {
  backdrop-filter: grayscale();
  backdrop-filter: invert(100%);
  width: 300px;
  height: 300px;
}
.cursor-grow--white {
  width: 380px;
  height: 380px;
  border: 4px solid white;
}
.none {
  opacity: 0;
}

/* HAMBURGER MENU */

@layer components {
  .hamburger {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    transition: all 0.25s;
  }

  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    content: '';
    position: absolute;
    width: 3rem;
    height: 3px;
    top: 0;
    left: 0;
    /* background: white; */
    transform: rotate(0);
    transition: all 0.5s;
  }

  .hamburger-middle {
    transform: translateY(10px);
  }

  .hamburger-bottom {
    transform: translateY(20px);
    /* background: white; */
  }

  .open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }

  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
    background-color: #fff;
  }

  .open .hamburger-middle {
    display: none;
  }

  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
    background-color: white;
  }
}

/* MOBILE MENU POPPING FROM THE LEFT SIDE */

.mobile-nav {
  transform: translateX(-100%);
  position: fixed;
  z-index: 28;
  top: 0;
  left: 0;
  width: 70%;
  height: 100vh;
  transition: transform 300ms ease-out;
  border-right-style: solid;
  border-color: hsl(180, 66%, 49%);
  border-width: 2px;
  border-style: none solid none none;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav__item {
  margin: 2rem 0;
}

.mobile-nav__item .link {
  font-weight: 500;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.mobile-nav__item .link:hover {
  color: hsl(180, 66%, 49%);
  text-decoration: underline;
}

.mobile-nav__item .link.current {
  color: hsl(180, 66%, 49%);
  text-decoration: underline;
}
.show {
  /* display: block !important; */
  opacity: 1;
  transform: translateY(0);
}

/* SECTION 2 (PROJECTS) TOOLTIP WHEN HOVERING OVER GITHUB 
ICONS AND AN EYE ICON UNDER PROJECT DESCRIPTION: */
@layer utilities {
  .tooltips .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    margin-right: 3rem;
    margin-left: 3rem;
    text-decoration: none;
  }
  .tooltips .tooltip .tooltiptext {
    display: none;
    min-width: 9rem;
    background-color: black;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    background-color: white;
    transition: all 3s linear;
    font-size: small;
    /* Position the tooltip */
    position: absolute;
    z-index: 20;
    bottom: 200%;
    left: 50%;
    margin-left: -4.5rem;
    font-weight: 500;
  }
  .tooltips .tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -14px;
    border-width: 14px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }

  .tooltips .tooltip:hover .tooltiptext {
    display: block;
    opacity: 1;
  }

  .tooltips .tooltip i {
    color: white;
  }
}


/* SECTION 3 (CONTACT) - CONTACT FORM: */

/* cide below overwrites mozilla default styling for autofill
but there are questions about other browsers. Chrome makes it difficult to 
overwrite color and background-color for its input fiealds as 
the are written with the important sign:
https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/,
https://developer.mozilla.org/en-US/docs/Web/CSS/:autofill */

@layer components {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 2px solid var(--red);
    -webkit-text-fill-color: rgb(34, 32, 32);
    background-color: #cacac0;
    /* -webkit-box-shadow: 0 0 0px 1000px #2c2c29 inset; */
    transition: background-color 5000s ease-in-out 0s;
  }

  .feedback-input {
    color: rgb(34, 32, 32);
    /* font-family: Helvetica, Arial, sans-serif; */
    /* font-family: 'JetBrains Mono', monospace; */
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: #cacac0;
    border: 2px solid var(--red);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
  }
  [type='email'] {
    width: 49%;
  }
  .feedback-input--second {
    float: right;
  }

  .feedback-input:focus {
    color: rgb(34, 32, 32);
    background-color: #cacac0;
    border: 3px solid #7b1010;
  }

  textarea {
    height: 50px;
    line-height: 150%;
    resize: vertical;
  }
}

/* FULLPAGE CONTAINER OF INDIVIDUAL SLIDES */

/* FULLPAGE CLASS 'active' IS ADDED TO the CURRENT MENU LINK
SO IT CAN BE STYLED */
#myMenu .active a {
  color: black;
}
#myMenu .active a i {
  color: black;
}
#myMenu .active a {
  background-color: hsl(180, 66%, 49%);
}

/* FULLPAGE NAVIGATION ARROWS: */

.fp-arrow.fp-controlArrow.fp-prev {
  left: 2rem;
  border-width: 38.5px 34px 38.5px 0;
  bottom: 3%;
  border-color: transparent hsl(260, 8%, 14%);
}
.fp-arrow.fp-controlArrow.fp-next {
  right: 4rem;
  border-color: transparent hsl(260, 8%, 14%);
}
.dark .fp-arrow.fp-controlArrow.fp-prev {
  left: 2rem;
  border-width: 38.5px 34px 38.5px 0;
  bottom: 3%;
  border-color: transparent white;
}

.dark .fp-arrow.fp-controlArrow.fp-next {
  right: 4rem;
  border-color: transparent white;
}

/* FULLPAGE NAVIGATION DOTS- COLOR OF NAVIGATION DOTS: */
 #fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: hsl(180, 66%, 49%);
}
.dark #fp-nav ul li a span,
.dark .fp-slidesNav ul li a span {
  background-color: white;
}

/* FULLPAGE NAVIGATION DOTS- POSITION OF THE NAVIGATION DOTS AT THE BOTTOM OF THE SLIDES: */
.fp-slidesNav.fp-bottom {
  text-align: center;
}

@media (max-width: 1024px) {
  /* fullpage side nav arrows (not dots) */
  .fp-arrow.fp-controlArrow.fp-next {
    right: 4rem;
    display: none;
  }
  .fp-arrow.fp-controlArrow.fp-prev {
    display: none;
  }
  /* cursor ring not displaying on medium and small devices */
  .cursor {
    display: none;
  }

  /* main nav not showing on tablets and small devices*/
  #myMenu {
    display: none;
  }

  /* contact form input fields streching 100% */
  [type='email'] {
    width: 100%;
  }

}
