@tailwind base;
@tailwind components;
@tailwind utilities;



/* CURSOR EFFECT AS A RING FOLLOWING THE MOUSE CURSOR: */

.cursor {
  top: 55%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  -o-transition-property: background, transform;
  transition-property: background, transform;
  transition-property: background, transform, -webkit-transform;
  background: transparent;
  -webkit-transition: all .8s linear;
  -o-transition: all .8s linear;
  transition: all 8s linear;
  z-index: 190;
  border-width: 2px;
}
.cursor-grow {
  -webkit-backdrop-filter: grayscale();
  backdrop-filter: grayscale();
  -webkit-backdrop-filter: invert(100%);
  backdrop-filter: invert(100%);
  width: 400px;
  height: 400px;
}
.cursor-grow--white {
  width: 380px;
  height: 380px;
  border: 4px solid white;
}
.cursor-effect-none{
  opacity:0;
}

/* HAMBURGER MENU */

@layer components {
  .hamburger {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
  }

  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    content: '';
    position: absolute;
    width: 2rem;
    height: 3px;
    top: 0;
    left: 0;
    /* background: white; */
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .hamburger-middle {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }

  .hamburger-bottom {
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    /* background: white; */
  }

  .open {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }

  .open .hamburger-top {
    -webkit-transform: rotate(45deg) translateY(6px) translateX(6px);
    -ms-transform: rotate(45deg) translateY(6px) translateX(6px);
    transform: rotate(45deg) translateY(6px) translateX(6px);
    background-color: hsl(180, 66%, 49%);
  }

  .open .hamburger-middle {
    display: none;
  }

  .open .hamburger-bottom {
    -webkit-transform: rotate(-45deg) translateY(6px) translateX(-6px);
    -ms-transform: rotate(-45deg) translateY(6px) translateX(-6px);
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
    background-color: hsl(180, 66%, 49%);
  }
}

/* MOBILE MENU POPPING FROM THE LEFT SIDE */

.mobile-nav {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  position: fixed;
  z-index: 28;
  top: 0;
  left: 0;
  width: 70%;
  height: 100vh;
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  -o-transition: transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
  border-right-style: solid;
  border-color: hsl(180, 66%, 49%);
  border-width: 2px;
  border-style: none solid none none;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-nav__item {
  margin: 2rem 0;
}

.mobile-nav__item .link {
  font-weight: 500;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

.mobile-nav__item .link:hover {
  color: hsl(180, 66%, 49%);
  text-decoration: underline;
}

.mobile-nav__item .link.current {
  color: hsl(180, 66%, 49%);
  text-decoration: underline;
}

.show {
  /* display: block !important; */
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

/* SECTION 2 (PROJECTS) TOOLTIP WHEN HOVERING OVER GITHUB 
ICONS AND AN EYE ICON UNDER PROJECT DESCRIPTION: */
@layer utilities {
  .dark .tooltips .tooltip {
    position: relative;
    display: inline-block;
    margin-right: 3rem;
    margin-left: 3rem;
    text-decoration: none;
  }
  .dark .tooltips .tooltip .tooltiptext {
    display: none;
    min-width: 9rem;
    background-color: black;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    background-color: white;
    -webkit-transition: all 3s linear;
    -o-transition: all 3s linear;
    transition: all 3s linear;
    font-size: small;
    /* Position the tooltip */
    position: absolute;
    z-index: 20;
    bottom: 200%;
    left: 50%;
    margin-left: -4.5rem;
    font-weight: 500;
  }
  .dark .tooltips .tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -14px;
    border-width: 14px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }

  .tooltips .tooltip {
    position: relative;
    display: inline-block;
    margin-right: 3rem;
    margin-left: 3rem;
    text-decoration: none;
  }
  .tooltips .tooltip .tooltiptext {
    display: none;
    min-width: 9rem;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    background-color: gray;
    -webkit-transition: all 3s linear;
    -o-transition: all 3s linear;
    transition: all 3s linear;
    font-size: small;
    /* Position the tooltip */
    position: absolute;
    z-index: 20;
    bottom: 200%;
    left: 50%;
    margin-left: -4.5rem;
    font-weight: 500;
  }
  .tooltips .tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -14px;
    border-width: 14px;
    border-style: solid;
    border-color: gray transparent transparent transparent;
  }

  .tooltips .tooltip:hover .tooltiptext {
    display: block;
    opacity: 1;
  }

  .tooltips .tooltip i {
    /* color: white; */
  }
}

/* SECTION 3 (CONTACT) - CONTACT FORM: */
/* code below overwrites mozilla default styling for autofill
but there are questions about other browsers. Chrome makes it difficult to 
overwrite color and background-color for its input fiealds as 
the are written with the important sign:
https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/,
https://developer.mozilla.org/en-US/docs/Web/CSS/:autofill */

@layer components {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 2px solid var(--red);
    -webkit-text-fill-color: rgb(34, 32, 32);
    background-color: #cacac0;
    /* -webkit-box-shadow: 0 0 0px 1000px #2c2c29 inset; */
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
  }

  .feedback-input {
    color: rgb(34, 32, 32);
    /* font-family: Helvetica, Arial, sans-serif; */
    /* font-family: 'JetBrains Mono', monospace; */
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: #cacac0;
    border: 2px solid var(--red);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
  }
  [type='email'] {
    width: 49%;
  }
  .feedback-input--second {
    float: right;
  }

  .feedback-input:focus {
    color: rgb(34, 32, 32);
    background-color: #cacac0;
    border: 3px solid #7b1010;
  }

  textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
  }
}

/* FULLPAGE CONTAINER OF INDIVIDUAL SLIDES */

/* FULLPAGE CLASS 'active' IS ADDED TO the CURRENT MENU LINK
SO IT CAN BE STYLED */
#myMenu .active a {
  color: rgb(107 114 128);
  background-color: white;
}

.dark #myMenu .active a {
  color: hsl(260, 8%, 14%);
  background-color: hsl(180, 66%, 49%);
}

/* FULLPAGE NAVIGATION ARROWS: */

.fp-arrow.fp-controlArrow.fp-prev {
  left: 2rem;
  border-width: 38.5px 34px 38.5px 0;
  bottom: 3%;
  border-color: transparent rgb(66, 68, 72);
}
.fp-arrow.fp-controlArrow.fp-next {
  right: 4rem;
  border-color: transparent rgb(66, 68, 72);
}
.dark .fp-arrow.fp-controlArrow.fp-prev {
  left: 2rem;
  border-width: 38.5px 34px 38.5px 0;
  bottom: 3%;
  border-color: transparent white;
}

.dark .fp-arrow.fp-controlArrow.fp-next {
  right: 4rem;
  border-color: transparent white;
}

/* FULLPAGE NAVIGATION DOTS- COLOR OF NAVIGATION DOTS: */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: rgb(66, 68, 72);
}
.dark #fp-nav ul li a span,
.dark .fp-slidesNav ul li a span {
  background-color: white;
}

/* FULLPAGE NAVIGATION DOTS- POSITION OF THE NAVIGATION DOTS AT THE BOTTOM OF THE SLIDES: */
.fp-slidesNav.fp-bottom {
  text-align: center;
}

@media (max-width: 1024px) {
  /* fullpage side nav arrows (not dots) */
  .fp-arrow.fp-controlArrow.fp-next {
    right: 4rem;
    display: none;
  }
  .fp-arrow.fp-controlArrow.fp-prev {
    display: none;
  }
  /* cursor ring not displaying on medium and small devices */

  /* contact form input fields streching 100% */
  [type='email'] {
    width: 100%;
  }
}
